################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataLayer/bin/Debug/net7.0
/.vs
/DataLayer/obj
/Service/.vs
/Service/bin/Debug/net7.0
/Service/obj
/CarPoolingWebAPI/obj
/CarPoolingWebAPI/.vs
